* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(181, 216, 247);
}

.header {
  text-align: center;
  margin-top: 30px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
  height: 80vh;
  gap: 400px;
}

.city {
  font-size: 30px;
  font-style: italic;
}

.date {
  font-weight: bold;
}

.temperature {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 30px;
}
